/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* playfair display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
/* utilities */
body{
    margin: 0;
    padding: 0;
    background-color: #F6F6F7;
    font-family: 'Poppins', sans-serif;
}
.hoverToColor:hover{
    color: darkslateblue;
    font-weight: 600;
}
/* heaer style */
.daily-back-color{
    color: white;
    background-color: darkslateblue;
}
.navLink:hover{
    color: darkslateblue;
    font-weight: 600;
}
.text-regular-color{
    color: #949494;
}
/* news found */
.news-found-back{
    background-color: white;
}
/* main style */
.mainSection{
    height: 123vw;
}
/* news feed card */
.authorPicSize{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.arrowAnimation{
    animation: arrow infinite 1s ease alternate;
}
/* footer style */
footer{
    font-family: 'Playfair Display', serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 10vw;
}

/* Animation */
@keyframes arrow {
    0%{
        color: #949494;
    }
    100%{
        color: white;
    }
}