@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* utilities */
body{
    background-color: #F6F6F7;
    font-family: 'Poppins', sans-serif;
}
.hoverToColor:hover{
    color: darkslateblue;
    font-weight: 600;
}
/* heaer style */
.daily-back-color{
    color: white;
    background-color: darkslateblue;
}
.navLink:hover{
    color: darkslateblue;
    font-weight: 600;
}
.text-regular-color{
    color: #949494;
}
/* news found */
.news-found-back{
    background-color: white;
}
/* news feed card */
.authorPicSize{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}